@{
    ViewBag.Title = "Contact";
}

<br />
<h2>@ViewBag.Title.</h2>

<address>
    One Coughing Cat Avenue<br />
    Teignmouth, Devon, United-Kingdom<br />
    <abbr title="Phone">P:</abbr>
    99.313.3799
</address>

<address>
    <strong>The Son:</strong>   <a href="mailto:Jay.Teignton@Teignton.com">Jay.Teignton@Teignton.com</a><br />
    <strong>The Father:</strong> <a href="mailto:Andy.Teignton@Teignton.com">Andy.Teignton@Teignton.com</a>
</address>