@{
    ViewData["Title"] = "Home page";
}

<br />
<div class="text-center">
    <h1 class="display-4">We are the ol' school security</h1>
    <p>Teignton Safes - Father & Son</p>

    <br>
    <figure>
        <img src="~/Content/assets/safe1.jpg" alt="" style="">
        <figcaption><i>First of a long story!</i></figcaption>
    </figure>
    <br>
</div>

<div class="container">
    <p>
        For more than an hundred years we have proudly provided real security.
        <br>Good ol' iron safes with unique pair of keys.
    </p>

    <p>
        Built in the heart of Devon, our team are building the highest quality safe in the market - no question.
        <br>Help yourself and buy a good ol' Teignton Safes - Father & Son's.
    </p>

    <br>
    <p>The list of our public products can be found @Html.ActionLink("here", "Products", "Home").</p>
    <p>Please contact us if you have any questions @Html.ActionLink("here", "Contact", "Home").</p>
</div>
