
@{
	ViewBag.Title = "Staff";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Staff</h1>

<h3>Andy Teignton</h3>
<p>CEO and Chief Safe Architect</p>



<h3>Jay Teignton</h3>
<p>We are not really sure what he does!</p>


<h3>Karl Memaybe</h3>
<p>Technical Administrator</p>


<h3>Abbie Buckfast</h3>
<p>Web Developer</p>
<!-- TODO: Set up Abbie on the portal, she'll be taking over my duties while I'm away.
Karl if I forget to do this, it's jay.teignton:admin for the portal
-->
